<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jiang Gina.</p> 
        <!-- It uses data from mapbox.com and darksky.net! -->
        <img class="portrait" src="/img/me.png">
        <p></p>
        <a href="mailto:gina.jiang.93@gmail.com?Subject=Hello" target="_top"><img class="logo" src="/img/gmail.png"></a>
        <a href="https://www.linkedin.com/in/ginajiang93/"> <img class="logo" src="/img/linkedin.png"></a>
        <a href="https://github.com/GinaJ/"> <img class="logo" src="/img/github.png"></a>
        <a href="https://www.quora.com/profile/Gina-Jiang-1"> <img class="logo" src="/img/quora.png"></a>
    

    
    </div>
    
    {{>footer}}
</body>

</html>